<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{mainTemplate}">

<head>
	<title>Alunos</title>
	<th:block layout:fragment="css">
	    <!-- Datatables -->
    	<link href="/template/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    	<!-- iCheck -->
    	<link href="/template/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
	</th:block>
</head>

<div layout:fragment="page_content" id="page_content">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>
					Alunos <small></small>
				</h3>
			</div>

			<div class="title_right">
				<div
					class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
					<div class="input-group"></div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<br />
						<form id="demo-form2" th:action="@{/aluno}" th:method="post" data-parsley-validate class="form-horizontal form-label-left">
							<input th:type="hidden" name="id" th:field="${aluno.id}" />
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Matrícula <span class="required">*</span>
								</label>
								<div class="col-md-2 col-sm-12 col-xs-12">
									<input type="text" th:field="${aluno.matricula}" required="required"
										class="form-control col-md-2 col-xs-12">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="last-name">Nome <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-12 col-xs-12">
									<input type="text" th:field="${aluno.nome}" required="required" 
									class="form-control col-md-6 col-xs-12">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="last-name">E-mail <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-12 col-xs-12">
									<input type="text" th:field="${aluno.email}" required="required" 
									class="form-control col-md-6 col-xs-12">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="last-name">Sexo <span class="required">*</span>
								</label>
								
	                          	<div id="gender" class="btn-group" data-toggle="buttons" style="margin-left: 10px">
	                            	<label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" th:classappend="${alunoTemp.sexo} == 'M' ? 'active'">
	                              		<input type="radio" th:field="${aluno.sexo}" value="Masculino" data-parsley-multiple="gender"> Masculino
	                            	</label>
	                            	<label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" th:classappend="${alunoTemp.sexo} == 'F' ? 'active'">
	                              		<input type="radio" th:field="${aluno.sexo}" value="Feminino" data-parsley-multiple="gender"> Feminino
	                            	</label>
	                          	</div>
	                        </div>
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									<button class="btn btn-primary" type="button">Cancelar</button>
									<button class="btn btn-primary" type="reset">Limpar</button>
									<button type="submit" class="btn btn-success">Salvar</button>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<table id="datatable" class="table table-striped table-bordered">
							<thead>
								<tr>
									<th width="15%">Matrícula</th>
									<th width="40%">Nome</th>
									<th width="35%">E-mail</th>
									<th width="5%">Sexo</th>
									<th width="5%">Opções</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="aluno : ${alunos}">
									<td th:text="${aluno.matricula}"></td>
									<td th:text="${aluno.nome}"></td>
									<td th:text="${aluno.email}"></td>
									<td th:text="${aluno.sexo}"></td>
									<td>
										<div class="btn-group  btn-group-xs">
					                        <a th:href="@{/aluno/edit/{id}(id=${aluno.id})}" class="btn btn-warning btn-xs"><i title="Editar" class="fa fa-pencil"></i></a>
					                        <a th:href="@{/aluno/delete/{id}(id=${aluno.id})}" class="btn btn-danger btn-xs"><i title="Excluir" class="fa fa-trash"></i></a>
				                      	</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<th:block layout:fragment="scripts">
	<!-- Datatables -->
   	<script src="/template/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
   	<script src="/template/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
   	<!-- iCheck -->
   	<script src="/template/vendors/iCheck/icheck.min.js"></script>
</th:block>
</html>