<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{mainTemplate}">

<head>
	<title>Blocos</title>
	<th:block layout:fragment="css">
	    <!-- Datatables -->
    	<link href="/template/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	</th:block>
</head>

<div layout:fragment="page_content" id="page_content">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>
					Blocos <small></small>
				</h3>
			</div>

			<div class="title_right">
				<div
					class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
					<div class="input-group"></div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<br />
						<form id="demo-form2" th:action="@{/bloco}" th:method="post" data-parsley-validate class="form-horizontal form-label-left">
							<input th:type="hidden" name="id" th:field="${bloco.id}" />
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Código <span class="required">*</span>
								</label>
								<div class="col-md-2 col-sm-12 col-xs-12">
									<input type="text" th:field="${bloco.codigo}" required="required"
										class="form-control col-md-2 col-xs-12">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Curso <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-12 col-xs-12">
									<input id="cursoAutoComplete" type="text"
										class="form-control col-md-2 col-xs-12" required="required">
									<input th:type="hidden" id="cursoId" th:field="${bloco.curso.id}" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="last-name">Nome <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-12 col-xs-12">
									<input type="text" th:field="${bloco.nome}" required="required" 
									class="form-control col-md-6 col-xs-12">
								</div>
							</div>
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									<button class="btn btn-primary" type="button">Cancelar</button>
									<button class="btn btn-primary" type="reset">Limpar</button>
									<button type="submit" class="btn btn-success">Salvar</button>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<table id="datatable" class="table table-striped table-bordered">
							<thead>
								<tr>
									<th width="15%">Código</th>
									<th width="40%">Nome</th>
									<th width="40%">Curso</th>
									<th width="5%">Opções</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="bloco : ${blocos}">
									<td th:text="${bloco.codigo}"></td>
									<td th:text="${bloco.nome}"></td>
									<td th:text="${bloco.curso.nome}"></td>
									<td>
										<div class="btn-group  btn-group-xs">
					                        <a th:href="@{/bloco/edit/{id}(id=${bloco.id})}" class="btn btn-warning btn-xs"><i title="Editar" class="fa fa-pencil"></i></a>
					                        <a th:href="@{/bloco/delete/{id}(id=${bloco.id})}" class="btn btn-danger btn-xs"><i title="Excluir" class="fa fa-trash"></i></a>
				                      	</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<th:block layout:fragment="scripts">
	<!-- Datatables -->
	<script src="/template/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/template/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
   	<!-- jQuery autocomplete -->
	<script src="/template/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
	<script th:inline="javascript">
		$('#cursoAutoComplete').autocomplete({
			serviceUrl: '/curso/list/getByNameStartingWith',
			dataType: 'json',
			suggestions: true,
			autoSelectFirst: true,
			showNoSuggestionNotice: true,
			transformResult: function(response) {
		        return {
		            suggestions: $.map(response, function(item) {
		                return { value: item.nome, data: item.id };
		            })
		        };
		    },
		    onSelect : function (suggestion) {
		    	$("#cursoId").val(suggestion.data);
		    }
		}).val(/*[[${blocoTemp.curso.nome}]]*/);
	 </script>

</th:block>
</html>