<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"   
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<link rel="icon" href="/generic/images/favicon.png" type="image/png" sizes="16x16">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Infnet</title>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap -->
    <link href="/template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Datatables -->
   	<link href="/template/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    
  </head>

<body>
	<div class="container h-200">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="page-title" 
				style="background-image: url('/generic/images/logo_infnet_circulo.png'); 
				background-size: 150px; 
				background-repeat: no-repeat; 
				padding: 40px 0 0 170px;
				height: 150px;" >
				
				<h3>| &nbsp;&nbsp; Avaliação - Alunos da Pós-Graduação</h3>
				<p th:text="${'Aluno: '+formulario.respondente.nome}"></p> 
				<p th:text="${'Módulo: '+formulario.avaliacao.turma.modulo.nome}"></p> 
			</div>
			<div class="clearfix"></div>
			<br/>
			<div th:if="${formulario.respondido == false}">
			<div class="row pagination-centered">
				<p>Por favor, preencha essa avaliação com toda atenção. Ela é muito importante para a melhoria contínua de seu curso. É através das avaliações
					que poderemos construir um curso cada vez melhor, o que é importante para você agora e para o valor de seu diploma no futuro.</p>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_content" style="margin-bottom: 20px;" >
							<form id="demo-form2" th:action="@{/resposta}" th:method="post" data-parsley-validate class="form-horizontal form-label-left">
								<input th:type="text" name="id" th:field="${formulario.id}" />
								<table id="datatable" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th width="70%"></th>
		                                    <th width="5%">Concordo totalmente</th>
		                                    <th width="5%">Concordo</th>                                    
											<th width="5%">Não concordo nem discordo</th>
											<th width="5%">Discordo</th>
											<th width="5%">Discordo totalmente</th>
											<th width="5%">Não sei avaliar</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="questao,iter : *{formulario.avaliacao.modelo.questoes}" th:with="categoria = 0">
											<!-- <th:block th:with="pass = 0"> -->
											<tr th:if="*{iter.index == 0  || questao.categoria.id != formulario.avaliacao.modelo.questoes[iter.index-1].categoria.id}">
												<td th:text="*{questao.categoria.nome}" colspan="7" style="font-weight: bold;"></td>
											</tr>
											<tr>
												<td th:text="${questao.enunciado}"></td>
												<td align="center"><input type="radio" value="1" th:field="*{formulario.avaliacao.modelo.questoes[__${iter.index}__].resposta.valor}" required="required" ></td>
												<td align="center"><input type="radio" value="2" th:field="*{formulario.avaliacao.modelo.questoes[__${iter.index}__].resposta.valor}" required="required" ></td>
												<td align="center"><input type="radio" value="3" th:field="*{formulario.avaliacao.modelo.questoes[__${iter.index}__].resposta.valor}" required="required" ></td>
												<td align="center"><input type="radio" value="4" th:field="*{formulario.avaliacao.modelo.questoes[__${iter.index}__].resposta.valor}" required="required" ></td>
												<td align="center"><input type="radio" value="5" th:field="*{formulario.avaliacao.modelo.questoes[__${iter.index}__].resposta.valor}" required="required" ></td>
												<td align="center"><input type="radio" value="6" th:field="*{formulario.avaliacao.modelo.questoes[__${iter.index}__].resposta.valor}" required="required" ></td>
											</tr>
										</th:block>
									</tbody>
								</table>
								<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Enviar" type="Submit" th:text="Enviar" onclick=""></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="x_content" style="margin-top:100px; color: #c4c4c4" th:if="${formulario.respondido == true}">
		<h1>Formulário respondido. Obrigado!</h1>
	</div>
</div>


<!-- jQuery -->
    <script src="/template/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/template/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Datatables -->
	<script src="/template/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/template/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
</body>
</html>