<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{mainTemplate}">

<head>
	<title>Spring Security Tutorial</title>
  		<th:block layout:fragment="css">
		<!-- iCheck -->
	    <link href="/template/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
	    <!-- bootstrap-wysiwyg -->
	    <link href="/template/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
	    <!-- Select2 -->
	    <link href="/template/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
	    <!-- Switchery -->
	    <link href="/template/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
	    <!-- starrr -->
	    <link href="/template/vendors/starrr/dist/starrr.css" rel="stylesheet">
	    <!-- bootstrap-daterangepicker -->
	    <link href="/template/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
	</th:block>  	
</head>

<body>
	<div layout:fragment="page_content" id="page_content">
	<!--div class="container"-->
		<img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />
		<form th:action="@{/login}" method="POST" class="form-signin">
			<h3 class="form-signin-heading" th:text="Bemvindo"></h3>
			<br/>
			 
			<input type="text" id="email" name="email"  th:placeholder="Email"
				class="form-control" /> <br/> 
			<input type="password"  th:placeholder="Password"
				id="password" name="password" class="form-control" /> <br /> 
				
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Email our Senha invalidos, favor verificary</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
		</form>
	</div>
</body>
</html>