<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{mainTemplate}">

<head>
	<title>Turmas</title>
	<th:block layout:fragment="css">
	    <!-- Datatables -->
    	<link href="/template/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    	<!-- bootstrap-datetimepicker -->
    	<link href="/template/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
	</th:block>
</head>

<div layout:fragment="page_content" id="page_content">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>
					Turmas <small></small>
				</h3>
			</div>

			<div class="title_right">
				<div
					class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
					<div class="input-group"></div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<br />
						<form id="demo-form2" th:action="@{/turma}" th:method="post" data-parsley-validate class="form-horizontal form-label-left">
							<input th:type="hidden" name="id" th:field="${turma.id}" />
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-1 col-xs-1"
									for="first-name">Código <span class="required">*</span>
								</label>
								<div class="col-md-2 col-sm-1 col-xs-1">
									<input type="text" th:field="${turma.codigo}" required="required"
										class="form-control col-md-2 col-xs-12">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-1 col-xs-1"
									for="first-name">Módulo <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-3 col-xs-1">
									<input id="moduloAutoComplete" type="text"
										class="form-control col-md-2 col-xs-12" >
									<input th:type="hidden" id="moduloId" th:field="${turma.modulo.id}" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-1 col-xs-1"
									for="first-name">Professor <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-3 col-xs-1">
									<input id="professorAutoComplete" type="text"
										class="form-control col-md-2 col-xs-12" >
									<input th:type="hidden" id="professorId" th:field="${turma.professor.id}" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-1 col-xs-1"
									for="last-name" style="margin-right: 10px;">Início <span class="required">*</span>
								</label>
								<div class="input-group date col-md-2 col-sm-1 col-xs-1" id="dataInicio" >
		                            <input type="text" class="form-control" id="dataInicioInput"/>
		                            <span class="input-group-addon">
		                               <span class="glyphicon glyphicon-calendar"></span>
		                            </span>
		                        </div>
		                        <input id="dataInicioHidden" th:type="hidden" th:field="${turma.inicio}" class="form-control"  />
								<label class="control-label col-md-3 col-sm-1 col-xs-1"
									for="last-name" style="margin-right: 10px;">Término<span class="required">*</span>
								</label>
								<div class="input-group date col-md-2 col-sm-1 col-xs-1" id="dataTermino">
		                            <input type="text"  class="form-control" id="dataTerminoInput"/>
		                            <span class="input-group-addon">
		                               <span class="glyphicon glyphicon-calendar"></span>
		                            </span>
		                        </div>
		                        <input id="dataTerminoHidden" th:type="hidden" th:field="${turma.termino}" class="form-control"  />
							</div>
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									<button class="btn btn-primary" type="button">Cancelar</button>
									<button class="btn btn-primary" type="reset">Limpar</button>
									<button type="submit" class="btn btn-success">Salvar</button>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<table id="datatable" class="table table-striped table-bordered">
							<thead>
								<tr>
									<th width="15%">Código</th>
									<!-- <th width="50%">Nome</th> -->
									<th width="30%">Módulo</th>
									<th width="30%">Professor</th>
									<th width="10%">Início</th>
									<th width="10%">Termino</th>
									<th width="5%">Opções</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="turma : ${turmas}">
									<td th:text="${turma.codigo}"></td>
									<!-- <td th:text="${turma.nome}"></td> -->
									<td th:text="${turma.modulo.nome}"></td>
									<td th:text="${turma.professor.nome}"></td>
									<td th:text="${#dates.format(turma.inicio, 'dd/MM/yyyy')}"></td>
									<td th:text="${#dates.format(turma.termino, 'dd/MM/yyyy')}"></td>
									<td>
										<div class="btn-group  btn-group-xs">
					                        <a th:href="@{/turma/edit/{id}(id=${turma.id})}" class="btn btn-warning btn-xs"><i title="Editar" class="fa fa-pencil"></i></a>
					                        <a th:href="@{/turma/delete/{id}(id=${turma.id})}" class="btn btn-danger btn-xs"><i title="Excluir" class="fa fa-trash"></i></a>
				                      	</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<th:block layout:fragment="scripts">
	<!-- Datatables -->
	<script src="/template/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/template/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
   	<!-- jQuery autocomplete -->
	<script src="/template/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
	<!-- bootstrap-daterangepicker -->
    <script src="/template/vendors/moment/min/moment.min.js"></script>
	<!-- bootstrap-datetimepicker -->    
    <script src="/template/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script th:inline="javascript">
		$('#moduloAutoComplete').autocomplete({
			serviceUrl: '/modulo/list/getByNameStartingWith',
			dataType: 'json',
			suggestions: true,
			transformResult: function(response) {
		        return {
		            suggestions: $.map(response, function(item) {
		                return { value: item.nome, data: item.id };
		            })
		        };
		    },
		    onSelect : function (suggestion) {
		    	$("#moduloId").val(suggestion.data);
		    }
		}).val(/*[[${turmaTemp.modulo.nome}]]*/);
		
		$('#professorAutoComplete').autocomplete({
			serviceUrl: '/professor/list/getByNameStartingWith',
			dataType: 'json',
			suggestions: true,
			autoSelectFirst: true,
			showNoSuggestionNotice: true,
			transformResult: function(response) {
		        return {
		            suggestions: $.map(response, function(item) {
		                return { value: item.nome, data: item.id };
		            })
		        };
		    },
		    onSelect : function (suggestion) {
		    	$("#professorId").val(suggestion.data);
		    }
		}).val(/*[[${turmaTemp.professor.nome}]]*/);
		
		$('#dataInicio').datetimepicker({
			format: 'DD/MM/YYYY',
			defaultDate: "11/1/2013",
			defaultDate: /*[[${turmaTemp.inicio}]]*/,
	    });
		
		$('#dataTermino').datetimepicker({
			format: 'DD/MM/YYYY',
			useCurrent: false,
			defaultDate: /*[[${turmaTemp.termino}]]*/,
	    });
		$("#dataInicio").on("dp.change", function (e) {
			$('#dataInicio').data("DateTimePicker").hide();
            $('#dataTermino').data("DateTimePicker").minDate(e.date);
            $("#dataInicioHidden").val($('#dataInicioInput').val());
        });
        $("#dataTermino").on("dp.change", function (e) {
        	$('#dataTermino').data("DateTimePicker").hide();
            $('#dataInicio').data("DateTimePicker").maxDate(e.date);
            $("#dataTerminoHidden").val($('#dataTerminoInput').val());
        });
       
	 </script>

</th:block>
</html>